@font-face {
  font-family: "Slackey-Regular";
  src: url("./fonts/Slackey-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RussoOne-Regular";
  src: url("./fonts/RussoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Slackey-Regular", sans-serif;
  font-family: "RussoOne-Regular", sans-serif;
}

body {
  background-color: black;
  align-items: center;
  justify-content: center;
}




button {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
