form {
    background-color: #FAFAFA;
    padding: 50px 0px;
}


.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 45% 45%;
    row-gap: 10px;
    column-gap: 10px;
    
}

.menu-card {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

    border-radius: 15px;
    width: 100%;
    box-shadow: 1px 2px 20px 1px rgba(211, 211, 211, 0.544);
    height: max-content;
    padding: 20px 0;
    position: relative;
}



.menu-card .title {
    font-size: 1.5rem;
}

.menu-card .price {
    font-size: 1.2rem;
    color: #36bd3b;
}

.menu-card .details {
    min-height: 80px;
}

.counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;

}

.menu-card span {
    font-size: 2rem;
}

.menu-card button {
    height: 40px;
    width: 40px;
    font-size: 20pt;
}

.menu-card img {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
}



.contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;

    padding: 5%;
    align-items: right;
    justify-content: center;
}


.contact-form input {
    height: 50px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 10px;
    font-size: larger;
}






.order-overview {
    width: auto;
    margin: 20px;
}


strong {
    font-size: 1.5rem;
    margin: 10px;
}





#submit-button {
    overflow: visible;
    font-size: larger;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100%;
    transition: .3s;
    padding: 20px;
  }
  
  #submit-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  









  

  .input {
    background-color: white;
    max-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 2px 20px 1px rgba(211, 211, 211, 0.544);
  }
  