.info-card {
    width: 100%;
    
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0px;
    max-height: 300px;
}

.info-card h2 {
    font-size: 2rem;
    margin: 0 50px;
}

.info-card p {
    font-size: 1.2rem;
    margin: 0 20px;
    width: 50%;
    min-width: 230px;
    color: #36bd3b;
}


/* On mobile phones: */

@media only screen and (max-width: 600px) {
    .info-card {
        flex-direction: column;
        min-height: none;
        max-height: none;
        gap: 24px;
        text-align: center;
    }

    .info-card h2 {
        font-size: 1.5rem;
        width: auto;
    }

    .info-card p {
        font-size: 1rem;
        min-width: none;   
        width: auto;
        margin: 0px 40px;
    }
}